{{>_nav}}
<!-- way for script to access data-->
<div class="hide" id="convoList">{{#each conversation}}<p>"senderid":{{this.senderid}}, "senderurl":"{{this.senderurl}}","sendername":"{{this.sendername}}", "receiverid":{{this.receiverid}}, "receiverurl":"{{this.receiverurl}}","receivername":"{{this.receivername}}", "subject":"{{this.subject}}", "message":"{{this.body}}","timestamp":"{{this.ts}}"</p>{{/each}}</div>
<!-- -->
<div class="container container_messages">
 <div class="hide" id="sessionid">{{sessionid}}</div> 
    
    {{!-- <div> search bar</div> --}}


    <div id="chat">
       


        <div class="messageSidebar" id="SubjectProfileSide">
        </div>




        <div class="main">
            <div id="previousMessages">
                
            </div>

            <div id="sendMessageContainer">
                <!--might not need this form -->

                <form>
                    <textarea placeholder="Write a message..." id="ta"></textarea>
                    <input type="hidden" id="conversation_id">
                    <input type="hidden" id="receiver_id">
                    <input type="hidden" id="sender_id" value="{{sender_id}}">
                    <button type='button' id="sendbtn"  onclick="send()">Send</button>

                </form>

            </div>
           
        </div>

    </div>
</div>
<script src="/scripts/messageManipulator.js"></script>

